################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SocialApp/v16
/API/bin/*
/API/obj/Debug/netcoreapp3.1/*
/API/API.csproj
/API/API.csproj.user
/.vs/