<div class="container">
  <div class="row">
    <h2>Statystyki</h2>
  </div>
  <div class="card p-2">
    <div class="row mt-2">
      <div class="col-12">
        <h4>Raport średniego spalania</h4>
        <dx-button
          class="button-info mb-2 px-3"
          text="Dodaj"
          (onClick)="addFuelReportPopup()"
        ></dx-button>
      </div>
    </div>
    <dx-popup
      [width]="400"
      [height]="320"
      [showTitle]="true"
      title="Dodaj nowy raport spalania"
      [dragEnabled]="false"
      [closeOnOutsideClick]="true"
      [showCloseButton]="false"
      [(visible)]="fuelReportPopupVisible"
    >
      <div class="container">
        <div class="row">
          <div class="form-group col-12">
            <form
              [formGroup]="fuelReportForm"
              autocomplete="off"
              (ngSubmit)="onFuelReportSubmit()"
            >
              <input
                [class.is-invalid]="
                  fuelReportForm.get('cost').errors &&
                  fuelReportForm.get('cost').touched
                "
                formControlName="cost"
                type="number"
                class="form-control my-2"
                placeholder="Koszt paliwa"
              />

              <input
                [class.is-invalid]="
                  fuelReportForm.get('fuelAmount').errors &&
                  fuelReportForm.get('fuelAmount').touched
                "
                formControlName="fuelAmount"
                type="number"
                class="form-control my-2"
                placeholder="Ilość zatankowanego paliwa [dm3]"
              />

              <input
                [class.is-invalid]="
                  fuelReportForm.get('traveledDistance').errors &&
                  fuelReportForm.get('traveledDistance').touched
                "
                formControlName="traveledDistance"
                type="number"
                class="form-control my-2"
                placeholder="Przejechany dystans"
              />

              <input
                [class.is-invalid]="
                  fuelReportForm.get('refuelDate').errors &&
                  fuelReportForm.get('refuelDate').touched
                "
                formControlName="refuelDate"
                type="date"
                class="form-control my-2"
                placeholder="Data tankowania"
              />
              <div class="row form-group">
                <button
                  class="btn btn-success mt-2"
                  [disabled]="!fuelReportForm.valid"
                  type="submit"
                >
                  Dodaj
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </dx-popup>
    <div class="row">
      <div class="col-12">
        <dx-data-grid
          id="fuelReport"
          [dataSource]="fuelReport"
          keyExpr="id"
          [remoteOperations]="false"
          [allowColumnResizing]="true"
        >
          <dxo-paging [pageSize]="5"></dxo-paging>
          <dxo-pager
            [showPageSizeSelector]="true"
            [allowedPageSizes]="[5, 10, 15]"
          ></dxo-pager>
          <!-- <dxo-editing
            mode="form"
            [allowUpdating]="true"
            [allowDeleting]="true"
            [allowAdding]="false"
          >
  </dxo-editing> -->
          <dxi-column
            dataField="cost"
            dataType="number"
            caption="Koszt tankowania [PLN]"
          ></dxi-column>
          <dxi-column
            dataField="fuelAmount"
            dataType="number"
            caption="Ilość zatankowanego paliwa [dm3]"
          ></dxi-column>
          <dxi-column
            dataField="traveledDistance"
            dataType="number"
            caption="Przejechany dystans [km]"
          ></dxi-column>
          <dxi-column
            dataField="refuelDate"
            dataType="date"
            caption="Data zatankowania"
          ></dxi-column>
        </dx-data-grid>
      </div>
    </div>

    <div class="row mt-3">
      <dx-chart id="chart" [dataSource]="fuelReportView">
        <dxi-series
          argumentField="month"
          valueField="averageConsumption"
          name="Średnie spalanie<br/>(na 100km)"
          type="bar"
          color="#ffaa66"
        >
          <dxo-label
            [visible]="true"
            [format]="{
              type: 'fixedPoint',
              precision: '2'
            }"
          >
          </dxo-label>
        </dxi-series>
      </dx-chart>
    </div>
  </div>

  <div class="card p-2 mt-3">
    <div class="row mt-2">
      <div class="col-12">
        <h4>Raport napraw i kosztów eksploatacyjnych</h4>
        <dx-button
          class="button-info mb-2 px-3"
          text="Dodaj"
          (onClick)="addRepairReportPopup()"
        ></dx-button>
      </div>
    </div>
    <dx-popup
      [width]="400"
      [height]="320"
      [showTitle]="true"
      title="Dodaj nowy raport spalania"
      [dragEnabled]="false"
      [closeOnOutsideClick]="true"
      [showCloseButton]="true"
      [(visible)]="repairReportPopupVisible"
    >
      <div class="container">
        <div class="row">
          <div class="form-group col-12">
            <form
              [formGroup]="repairReportForm"
              autocomplete="off"
              (ngSubmit)="onRepairReportSubmit()"
            >
                <input
                [class.is-invalid]="
                  repairReportForm.get('description').errors &&
                  repairReportForm.get('description').touched
                "
                formControlName="description"
                type="string"
                class="form-control my-2"
                placeholder="Opis naprawy"
              />

              <input
                [class.is-invalid]="
                  repairReportForm.get('cost').errors &&
                  repairReportForm.get('cost').touched
                "
                formControlName="cost"
                type="number"
                class="form-control my-2"
                placeholder="Koszt naprawy"
              />

              <input
                [class.is-invalid]="
                repairReportForm.get('repairDate').errors &&
                repairReportForm.get('repairDate').touched
                "
                formControlName="repairDate"
                type="date"
                class="form-control my-2"
                placeholder="Data naprawy"
              />
              <div class="row form-group">
                <button
                  class="btn btn-success mt-2"
                  [disabled]="!repairReportForm.valid"
                  type="submit"
                >
                  Dodaj
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </dx-popup>
    <div class="row">
      <div class="col-12">
        <dx-data-grid
          id="repairReport"
          [dataSource]="repairReport"
          keyExpr="id"
          [remoteOperations]="false"
          [allowColumnResizing]="true"
        >
        <dxo-filter-row [visible]="true"></dxo-filter-row>
          <dxo-paging [pageSize]="5"></dxo-paging>
          <dxo-pager
            [showPageSizeSelector]="true"
            [allowedPageSizes]="[5, 10, 15]"
          ></dxo-pager>
          <dxi-column
            dataField="description"
            dataType="string"
            caption="Opis naprawy"
          ></dxi-column>
          <dxi-column
            dataField="cost"
            dataType="number"
            caption="Koszt naprawy [PLN]"
          ></dxi-column>
          <dxi-column
            dataField="repairDate"
            dataType="date"
            caption="Data naprawy"
          ></dxi-column>
        </dx-data-grid>
      </div>
    </div>

    <div class="row mt-3">
      <dx-chart id="chart" [dataSource]="repairReportView">
        <dxi-series
          argumentField="month"
          valueField="costPerMonth"
          name="Suma wydatków"
          type="bar"
          color="#ffaa66"
        >
          <dxo-label
            [visible]="true"
            [format]="{
              type: 'fixedPoint',
              precision: '2'
            }"
          >
          </dxo-label>
        </dxi-series>
      </dx-chart>
    </div>
  </div>
</div>
