<div class="container">
  <div class="d-flex mb-3">
    <div class="btn-group" name="container">
      <button
        class="btn btn-primary"
        btnRadio="Unread"
        [(ngModel)]="container"
        (click)="loadUnreadMessages()"
      >
        <i class="far fa-envelope fa-2x"></i>
      </button>
      <button
        class="btn btn-primary"
        btnRadio="Inbox"
        [(ngModel)]="container"
        (click)="loadInboxMessages()"
      >
        <i class="far fa-envelope-open fa-2x"></i>
      </button>
      <button
        class="btn btn-primary"
        btnRadio="Outbox"
        [(ngModel)]="container"
        (click)="loadOutboxMessages()"
      >
        <i class="far fa-paper-plane fa-2x"></i>
      </button>
    </div>
  </div>
  <div class="row mb-2" *ngIf="messages?.length === 0">
    <h2>Brak wiadomości</h2>
  </div>

  <div class="row mb-2" *ngIf="container === 'Inbox'">
    <h2>Skrzynka odbiorcza</h2>
  </div>

  <div class="row mb-2" *ngIf="container === 'Outbox'">
    <h2>Skrzynka nadawcza</h2>
  </div>

  <div class="row mb-2" *ngIf="container === 'Unread'">
    <h2>Nieodczytane</h2>
  </div>

  <div class="row" *ngIf="messages?.length > 0">
    <table class="table table-hover" style="cursor: pointer">
      <tr>
        <th style="width: 30%">Od / do</th>
        <th style="width: 40%">Wiadomość</th>
        <th style="width: 20%">Wysłano / odebrano</th>
        <th style="width: 10%"></th>
      </tr>
      <tr
        *ngFor="let message of messages"
        routerLink="{{
          container === 'Outbox'
            ? '/members/' + message.recipientUsername + '/messages'
            : '/members/' + message.senderUsername + '/messages'
        }}"
      >
        <td>
          <strong>{{message.senderUsername }}</strong> / <strong>{{message.recipientUsername}}</strong>
        </td>
        <td>{{ message.content }}</td>
        <td>
          {{ message.messageSentDate | date: "dd.MM.yyyy HH:mm" }} /
          {{
            message.messageReadDate === null
              ? "-"
              : (message.messageReadDate | date: "dd.MM.yyyy HH:mm")
          }}
        </td>
        <td class="text-center">
          <button
            class="btn btn-sm btn-danger"
            data-toggle="tooltip"
            data-placement="bottom"
            title="Usuń wiadomość"
          >
            <i class="fas fa-trash"></i>
          </button>
        </td>
      </tr>
    </table>
  </div>
  <div class="d-flex justify-content-center mt-2" *ngIf="pagination">
    <pagination
      [boundaryLinks]="false"
      [totalItems]="pagination.totalItems"
      [itemsPerPage]="pagination.itemsPerPage"
      [(ngModel)]="pagination.currentPage"
      (pageChanged)="pageChanged($event)"
      previousText="&lsaquo;"
      nextText="&rsaquo;"
      firstText="&laquo;"
      lastText="&raquo;"
      class="my-pagination"
    >
    </pagination>
  </div>
</div>
