.details-btn {
    float: right;
}

.ngx-gallery { 
    display: inline-block; 
    margin-bottom: 20px; 
}

.fa-info-circle {
    vertical-align: middle;
}

 .form-select:disabled {
    background-color: rgb(190, 190, 190);
} 

.notes-pagination /deep/ .ngx-pagination .current {
    background: #444;
}

.notes-pagination {
    float:right
}

.add-note-popup-button {
    float: right;
}

.add-note-popup-button:hover {
    cursor: pointer;
    color: honeydew;
}

.add-note-button {
    margin: 0 auto;
}

p {
    margin: 0;
    padding: 0;
    font-size: 12px;
}

form {
    margin: 0;
    padding: 0;
}

.title {
    color: honeydew;
    border-radius: 5px;
}

.photo-add-card {
    height: 100%;
}

.no-notes {
    font-size: 17px;
}