<div class="container" *ngIf="member">
  <div class="row">
    <div class="alert alert-info" *ngIf="editForm.dirty">
      <i class="fas fa-info-circle fa-3x mr-3"></i>Masz niezapisane zmiany.
      Zostaną one utracone, jeżeli nie ich nie zapiszesz.
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-9">
      <h2>Edytuj profil</h2>
    </div>
    <div class="col-3">
      <button
        [hidden]="!editForm.dirty"
        type="submit"
        form="editForm"
        class="btn btn-success float-right"
      >
        Zapisz zmiany
      </button>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-6">
      <div class="card">
        <app-photo-add [member]="member"></app-photo-add>
      </div>
    </div>
    <div class="col-3">
      <div class="card">
        <h5 class="card-header text-muted">
          <strong>Dane o właścicielu</strong>
        </h5>
        <div class="card-body">
          <h6 class="card-text text-muted">
            Użytkownik: {{ member.username }}
          </h6>
          <h6 class="card-text text-muted">
            Jest z nami od: {{ member.createDate | date: "dd.MM.yyyy" }}
          </h6>
        </div>
      </div>
      <div class="add-note-popup-button btn btn-primary col-6" (click)="turnOnAddNotePopup()">
        Dodaj notatkę
      </div>
      <div class="container">
      <dx-popup
        [width]="600"
        [height]="460"
        [showTitle]="true"
        title="Dodaj nową notatkę"
        [dragEnabled]="false"
        [closeOnOutsideClick]="true"
        [showCloseButton]="true"
        [(visible)]="popupVisible"
      >
      <div class="row px-2">
        <form
              [formGroup]="noteForm"
              autocomplete="off"
              (ngSubmit)="addNote()"
        >
      <p class="text-muted mb-1">*Możesz utworzyć notatkę o maksymalnej długości 1024 znaków.</p>
      <dx-text-area formControlName="content" [height]="300" [maxLength]="1025" [(value)]="content">
      </dx-text-area>
      </form>
    </div>
      <div class="row px-2">
        <div class="add-note-button btn btn-primary mt-2 col-4" (click)="addNote()">Dodaj</div>
      </div>
    
      </dx-popup>
    </div>
    </div>
    <div class="col-3">
      <div class="card">
        <h5 class="card-header text-muted">
          <strong>Dziennik kosztów</strong>
        </h5>
        <div class="card-body">
          <h6 class="card-text text-muted">Spalanie: 10.5l/100km</h6>
          <h6 class="card-text text-muted">
            Średni koszt przejechania 100km: 49.88zł
          </h6>
          <div
            class="details-btn btn btn-primary col-6"
            routerLink="/member/edit/statistics"
          >
            Szczegóły
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-6">
      <div class="card">
        <form
          #editForm="ngForm"
          autocomplete="off"
          id="editForm"
          (ngSubmit)="updateMember()"
        >
          <h4 class="card-header">
            <strong>Marka:</strong>
            <select
              [(ngModel)]="member.brandId"
              name="brand"
              class="form-select"
              (change)="onChange($event)"
              disabled
            >
              <option
                *ngFor="let brand of brands"
                [value]="brand.id"
                [label]="brand.name"
              ></option>
            </select>
          </h4>
          <h4 class="card-header">
            <strong>Model:</strong>
            <select
              [(ngModel)]="member.modelId"
              id="modelSelect"
              name="model"
              class="form-select"
              disabled
            >
              <option value="" selected hidden></option>
              <option
                *ngFor="let model of models"
                [value]="model.id"
                [label]="model.name"
              ></option>
            </select>
          </h4>

          <div class="card-body">
            <h5 class="card-subtitle text-muted mb-1">Silnik:</h5>
            <!-- <input
              [(ngModel)]="member.engine.engineCapacity"
              type="text"
              name="engineId"
              class="form-control"
            /> -->
            <div class="form-group">
              <select
                [(ngModel)]="member.engineId"
                name="engine"
                class="form-select"
                required
              >
                <option label="Pojemność silnika" selected hidden></option>
                <option
                  *ngFor="let engine of engines"
                  [ngValue]="engine.id"
                  [label]="engine.engineCapacity"
                ></option>
              </select>
            </div>
            <h5 class="card-subtitle text-muted mt-1 mb-1">Moc:</h5>
            <input
              [(ngModel)]="member.enginePower"
              type="number"
              name="enginePower"
              class="form-control"
            />
            <h5 class="card-subtitle text-muted mt-1 mb-1">Przebieg:</h5>
            <input
              [(ngModel)]="member.mileage"
              type="number"
              name="mileage"
              class="form-control"
            />
          </div>
        </form>
      </div>
    </div>
    <div class="col-6">
      <div class="card mb-1">
        <h5 class="card-header text-muted"><strong>Notatki</strong></h5>
      </div>
      <div
        class="row my-1"
        *ngFor="
          let note of notes | paginate: { itemsPerPage: 5, currentPage: page }
        "
      >
        <app-notes [note]="note"></app-notes>
      </div>
      <pagination-controls
        *ngIf="notes.length > 0"
        class="notes-pagination"
        (pageChange)="page = $event"
        directionLinks="false"
      ></pagination-controls>
    </div>
  </div>
</div>
