<div class="container">
  <div class="row text-center-mb-2">
    <div class="col-12">
        <h2>Lista użytkowników ({{ pagination?.totalItems }})</h2>
    </div>
  </div>
  <div class="row">
    <div class="btn-group">
      <button
        type="button"
        class="btn btn-dark mb-2 col-1"
        (click)="isFilteringCollapsed = !isFilteringCollapsed"
        [attr.aria-expanded]="!isFilteringCollapsed"
        aria-controls="formCollapse"
        data-toggle="tooltip" data-placement="bottom" title="Rozwiń filtry"
      >
      <i class="fas fa-filter"></i>
      </button>
      <button
        type="button"
        class="btn btn-light ml-2 mb-2 col-1"
        (click)="resetFilters()"
        data-toggle="tooltip" data-placement="bottom" title="Usuń filtry"
      >
      <i class="fas fa-times-circle"></i>
      </button>
      <div class="test">
        <select
        [(ngModel)]="userParams.orderBy"
              name="orderBy"
              class="form-select sort-select ml-2 mb-2"
              (change)="loadMembers()">
              <option selected hidden value = "CreateDateDesc" label="Sortuj po"></option>
              <option value = "CreateDateDesc" label="Data utworzenia profilu (od najnowszych)"></option>
              <option value = "CreateDateAsc" label="Data utworzenia (od najstarszych)"></option>
              <option value = "EnginePowerAsc" label="Moc silnika (rosnąco)"></option>
              <option value = "EnginePowerDesc" label="Moc silnika (malejąco)"></option>
              <option value = "ProductionDateDesc" label="Rok produkcji (od najnowszych)"></option>
              <option value = "ProductionDateAsc" label="Rok produkcji (od najstarszych)"></option>
        </select>
      </div>
    </div>
    <div class="col-12">
    <div
      class="form-collapse well well-lg card card-block"
      id="formCollapse"
      [collapse]="isFilteringCollapsed"
      [isAnimated]="true"
    >
    <form [formGroup]="filterForm" class="form-inline mb-2" autocomplete="off">
        <div class="form-group col-3 mt-2">
          Marka
          <select
            [(ngModel)]="userParams.brandId"
            formControlName="brand"
            name="brandId"
            class="form-select"
            type="number"
            (change)="brandChanged($event)"
          >
          <option selected [value] = "0"></option>
            <option
              *ngFor="let brand of brands"
              [value]="brand.id"
              [label]="brand.name"
            ></option>
          </select>
        </div>
        <div class="form-group col-3 mt-2">
          Model
          <select
            [(ngModel)]="userParams.modelId"
            formControlName="model"
            name="modelId"
            id="modelId"
            class="form-select"
            (change)="modelChanged($event)"
          >
          <option selected [value] = "0"></option>
            <option
              *ngFor="let model of models"
              [value]="model.id"
              [label]="model.name"
            ></option>
          </select>
        </div>
        <div class="form-group col-3 mt-2">
          Minimalna moc silnika [KM]
          <input
            [(ngModel)]="userParams.minEnginePower"
            formControlName="minPower"
            name="minEnginePower"
            class="form-control"
            type="number"
            (change)="loadMembers()"
          />
        </div>
        <div class="form-group col-3 mt-2">
          Maksymalna moc silnika [KM]
          <input
            [(ngModel)]="userParams.maxEnginePower"
            formControlName="maxPower"
            name="maxEnginePower"
            class="form-control"
            type="number"
            max="1500"
            (change)="loadMembers()"
          />
        </div>
      </form>
    </div>
  </div>
  </div>
  <div class="row mt-2">
    <div *ngFor="let member of members" class="col-sm-3 col-xs-12 my-2 align-items-stretch">
      <app-member-card [member]="member"></app-member-card>
    </div>
  </div>
  <div class="d-flex justify-content-center mt-2" *ngIf="pagination">
    <pagination
      [boundaryLinks]="false"
      [totalItems]="pagination.totalItems"
      [itemsPerPage]="pagination.itemsPerPage"
      [(ngModel)]="pagination.currentPage"
      (pageChanged)="pageChanged($event)"
      previousText="&lsaquo;"
      nextText="&rsaquo;"
      firstText="&laquo;"
      lastText="&raquo;"
    >
    </pagination>
  </div>
</div>
