/* Chat containers */
.message-container {
    border: 1px solid honeydew;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
  }

dx-text-area {
    font-size: 18px;
}

.fa-arrow-right:hover {
    color: lightgray;
    cursor: pointer;
}

  .sender-row {
      width: 50%;
      float: left;
      text-align: left;
      padding: 0;
    margin: auto;
  }

  .username {
      font-size: 20px;
  }

  .recipient-row {
    width: 50%;
    float: right;
    text-align: right;
    margin: auto;
    padding: 0;
  }
  
  
  /* Clear floats */
  .container::after {
    content: "";
    clear: both;
    display: table;
  }
  

 p {
    margin: 0;
    padding: 0;
    font-size: 17px;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

form {
    margin: 0;
    padding: 0;
}