.btn-add-periodic-inspection {
    width: 100%;
}

.text-muted {
    font-size: 16px;
}

.warning {
    font-size: 20px;
    color: orange;
}

.danger {
    font-size: 22px;
    color: red;
}

p {
    margin: 0;
    padding: 0;
}